<link rel="stylesheet" type="text/css" href="/css/home.css">
	<!-- partials -->
	<!-- <%-include('_header')%> -->
	<h3 style="float: left; margin: 5px;">Connect-i / <%= title %></h3>
	<br/>
	<!-- <%-include('_footer')%> -->
	<section id="feed-posts">
		<h2 style="margin-right: 10rem;">Posts</h2>
		<% if (locals.user) { %>
			<form style="margin-right: 8rem;" action="/posts/create" id="new-post-form" method="POST">
				<textarea name="content" cols="30" rows="3" required></textarea>
				<input type="submit" value="Post">
			</form>
		<% } %>
		


		<div id= "posts-list-container">

		 <ul>
			 <% for(post of post) { %>
					<%- include('_post')  %> 
			 <% } %>
		 </ul>


		</div>
	</section>


	<section id="all=user">
		<h3>Friends</h3>
		<% for( u of all_users ) { %>
			<p>
				<a href="/users/profile/<%= u.id %> "><%= u.name %> </a>
			</p>
		<% } %>
		
	</section>
