<!DOCTYPE html>
<html>
<head>
	<!-- look through the part in css -->
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/header.css" />
	<link rel="stylesheet" type="text/css" href="/css/footer.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
	<%- style%>
	<title>
		<%= title %>
	</title>
</head>
<body>
	<%-include('_header')%>
	<!-- predefined -->
	<main id ="layout-main">
		<%- body%>
	</main>
	

	<%-include('_footer')%>

	<%- script %>
	<script>
		<% if(flash.success && flash.success.length>0){%>
			new Noty({
				theme:"relax",
				text:"<%=flash.success%>",
				type: 'success',
				layout:'topRight',
				timeout:1500
			}).show();
		
		<%}%>
		<% if(flash.error && flash.error.length>0){%>
			new Noty({
				theme:"relax",
				text:"<%=flash.error%>",
				type: 'error',
				layout:'topRight',
				timeout:1500
			}).show();
		
		<%}%>
	</script>
</body>
</html>