<!DOCTYPE html>
<html>
<head>
	<!-- look through the part in css -->
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/header.css" />
	<link rel="stylesheet" type="text/css" href="/css/footer.css" />
	<%- style%>
	<title>
		<%= title %>
	</title>
</head>
<body>
	<%-include('_header')%>
	<!-- predefined -->
	<%- body%>

	<%-include('_footer')%>

	<%- script %>
</body>
</html>