
<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
	<!-- partials -->
	<!-- <%-include('_header')%> -->
	<h1> Connect-i /<%=title%></h1>
	<!-- <%-include('_footer')%> -->
	<p>Name : <%=user.name%></p>
	<p>Email : <%=user.email%></p>

