
<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
	<!-- partials -->
	<!-- <%-include('_header')%> -->
	<h1> Connect-i /<%=title%></h1>
	<!-- <%-include('_footer')%> -->
	



	<% if (user.id == profile_user.id) { %>
		<!-- If user matches show the form -->
		<form action="/users/update/<%= profile_user._id %>" enctype="multipart/form-data" method="POST">
			<label>Name: </label>
			<input type="text" name="name" Placeholder="your name" value="<%= profile_user.name %> " required/><br/><br>
			<label>Email: </label>
			<input type="email" name="email" Placeholder="your email" value="<%= profile_user.email %> " required/><br/><br>
			<input type="file" name= "avatar" placeholder="profile picture" />
			<input type="submit" value="UPDATE" />

		</form>
	<% }else{ %>
		<!-- else not show the form -->
			<p>Name: <%= profile_user.name%></p>
			<p>Email: <%= profile_user.email%></p>
	<% } %> 

